.navbarBG {
  background: rgb(39, 66, 102);
  background: linear-gradient(
    0deg,
    rgba(39, 66, 102, 0) 0%,
    rgba(39, 66, 102, 0.4) 100%
  );
}

.heroBG {
  background-image: url(../images/jpeg/heroBg.jpg);
  background-size: cover;
}

.gradientBg {
  background: rgb(39, 66, 102);
  background: radial-gradient(
    circle,
    rgba(39, 66, 102, 0) 50%,
    rgba(39, 66, 102, 0.4) 100%
  );
}

.footerBg {
  background: rgb(39, 66, 102);
  background: linear-gradient(
    180deg,
    rgba(39, 66, 102, 0) 0%,
    rgba(39, 66, 102, 0.4) 100%
  );
}

.logo {
  height: 80px;
  width: 80px;
}

.mainLogo {
  color: #274266 !important;
}

.bg-light {
  background-color: transparent !important;
}

section {
  padding: 60px 0;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
