.navbarBG {
  background: rgb(39, 66, 102);
  background: linear-gradient(
    180deg,
    rgba(39, 66, 102, 0.7343312324929971) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.logo {
  height: 80px;
  width: 80px;
}

.mainLogo {
  color: #274266 !important;
}

.bg-light {
  background-color: transparent !important;
}

section {
  padding: 60px 0;
}
